@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
.Home{

    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Grandiflora One', serif;
    background-color: #270b55;
    color: #FFE79B;

}
.Card{

    border: 1px dashed none;
    text-align: center;
    
}

.link{
    text-decoration: none;
    color: #FFE79B;

}